= simple_form_for [@domain_config, @subdomain_config] do |f|
  = f.error_notification base: true
  .has-error= f.error :base

  .form-inputs
    = f.input :subdomain
    = f.input :result_lang_code

  .form-actions
    = f.button :submit
