%h1 Editing subdomain_config

= render 'form'

= link_to [@domain_config, @subdomain_config] do
  %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
\|
= link_to domain_config_subdomain_configs_path(@domain_config) do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}
