%h1 Listing subdomain_configs

%table.table
  %thead
    %tr
      %th Domain config
      %th Subdomain
      %th Result lang code
      %th
      %th

  %tbody
    - @subdomain_configs.each do |subdomain_config|
      %tr
        %td= subdomain_config.domain_config_id
        %td= subdomain_config.subdomain
        %td= subdomain_config.result_lang_code
        %td= link_to 'Replacements', domain_config_subdomain_config_replaces_path(@domain_config, subdomain_config)
        %td
          = link_to [@domain_config, subdomain_config] do
            %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
          = link_to edit_domain_config_subdomain_config_path(@domain_config, subdomain_config) do
            %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
          = link_to [@domain_config, subdomain_config], :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %span.glyphicon.glyphicon-trash{:'aria-hidden' => 'true'}

%br

= link_to 'New Subdomain config', new_domain_config_subdomain_config_path(@parent_id)
