%p#notice= notice

%p
  %b Domain config:
  = @subdomain_config.domain_config_id
%p
  %b Subdomain:
  = @subdomain_config.subdomain
%p
  %b Result lang code:
  = @subdomain_config.result_lang_code

= link_to edit_domain_config_subdomain_config_path(@domain_config, @subdomain_config) do
  %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
\|
= link_to domain_config_subdomain_configs_path(@domain_config) do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}
