= simple_form_for(@domain_config) do |f|
  = f.error_notification
  .has-error= f.error :base

  .form-inputs
    = f.input :domain
    = f.input :donor_url
    = f.input :source_lang_code
    = f.input :result_lang_code
    = f.input :development_mode

  .form-actions
    = f.button :submit
