%h1 Editing domain_config

= render 'form'

= link_to @domain_config do
  %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
\|
= link_to domain_configs_path do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}
