%h1 Listing domain_configs

%table.table
  %thead
    %tr
      %th Domain
      %th Donor url
      %th Source lang code
      %th Result lang code
      %th
      %th
      %th
      %th

  %tbody
    - @domain_configs.each do |domain_config|
      %tr
        %td= domain_config.domain
        %td= domain_config.donor_url
        %td= domain_config.source_lang_code
        %td= domain_config.result_lang_code
        %td= link_to 'Subdomains', domain_config_subdomain_configs_path(domain_config)
        %td= link_to 'Replacements', domain_config_replaces_path(domain_config)
        %td= link_to 'Cache Settings', domain_config_cache_settings_path(domain_config)
        %td
          = link_to domain_config do
            %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
          = link_to edit_domain_config_path(domain_config) do
            %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
          = link_to domain_config, :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %span.glyphicon.glyphicon-trash{:'aria-hidden' => 'true'}

%br

= link_to 'New Domain config', new_domain_config_path
|
= link_to t('Import'), url_for(action: :import)
