%p#notice= notice

%p
  %b Domain:
  = @domain_config.domain
%p
  %b Donor url:
  = @domain_config.donor_url
%p
  %b Source lang code:
  = @domain_config.source_lang_code
%p
  %b Result lang code:
  = @domain_config.result_lang_code

= link_to edit_domain_config_path(@domain_config) do
  %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
\|
= link_to domain_configs_path do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}
