= simple_form_for([@domain_config, @subdomain_config, @replace].reject(&:blank?)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :pattern
    = f.input :replacement

  .form-actions
    = f.button :submit
