%h1 Editing replace

= render 'form'

= link_to resource_path('', :replace, [@domain_config, @subdomain_config, @replace]) do
  %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
\|
= link_to resource_path('', :replaces, [@domain_config, @subdomain_config]) do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}