%h1 Listing replaces

%table.table
  %thead
    %tr
      %th Pattern
      %th Replacement
      %th

  %tbody
    - @replaces.each do |replace|
      %tr
        %td= replace.pattern
        %td= replace.replacement
        %td
          = link_to resource_path('', :replace, [@domain_config, @subdomain_config, replace]) do
            %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
          = link_to resource_path(:edit, :replace, [@domain_config, @subdomain_config, replace]) do
            %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
          = link_to resource_path('', :replace, [@domain_config, @subdomain_config, replace]), :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %span.glyphicon.glyphicon-trash{:'aria-hidden' => 'true'}

%br

= link_to 'New Replace', resource_path(:new, :replace, [@domain_config, @subdomain_config])
