%p#notice= notice

%p
  %b Pattern:
  = @replace.pattern
%p
  %b Replacement:
  = @replace.replacement

= link_to resource_path(:edit, :replace, [@domain_config, @subdomain_config, @replace]) do
  %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
\|
= link_to resource_path('', :replaces, [@domain_config, @subdomain_config]) do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}
