= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification
  .has-error= f.error :base

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .form-actions
    = f.button :submit
