= simple_form_for([@domain_config, @cache_setting]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :route_mask
    = f.input :expire_after, as: :string

  .form-actions
    = f.button :submit
