%h1 Editing cache_setting

= render 'form'

= link_to [@domain_config, @cache_setting] do
  %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
\|
= link_to domain_config_cache_setting_path do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}
