%h1 Listing cache_settings

%table.table
  %thead
    %tr
      %th Route mask
      %th Expire after
      %th

  %tbody
    - @cache_settings.each do |cache_setting|
      %tr
        %td= cache_setting.route_mask
        %td= cache_setting.expire_after
        %td
          = link_to [@domain_config, cache_setting] do
            %span.glyphicon.glyphicon-eye-open{:'aria-hidden' => 'true'}
          = link_to edit_domain_config_cache_setting_path(@domain_config, cache_setting) do
            %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
          = link_to [@domain_config, cache_setting], :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %span.glyphicon.glyphicon-trash{:'aria-hidden' => 'true'}

%br

= link_to 'New Cache setting', new_domain_config_cache_setting_path
