%p#notice= notice

%p
  %b Route mask:
  = @cache_setting.route_mask
%p
  %b Expire after:
  = @cache_setting.expire_after

= link_to edit_domain_config_cache_setting_path(@domain_config, @cache_setting) do
  %span.glyphicon.glyphicon-pencil{:'aria-hidden' => 'true'}
\|
= link_to domain_config_cache_settings_path do
  %span.glyphicon.glyphicon-circle-arrow-left{:'aria-hidden' => 'true'}
