-# concerned template
%h1
  Импорт для
  = @importable[:resource_class].model_name.human

%p Пожалуйста, загрузите <b>CSV</b> файл со следующими полями:
%h4
  - @importable[:fields].map do |field|
    %span.field.label.label-info= field

%p.alert.alert-warning В случае дублирования существующие записи будут <b>обновлены</b>

= simple_form_for @importer, url: '' do |f|
  = f.error_notification
  .has-error= f.error :base

  .form-inputs
    = f.input :token, as: :hidden, value: 'ok'
    = f.input :file, as: :file, input_html: { accept: %w(.csv) }

  .form-actions
    = f.button :submit, value: t('Import'), class: 'btn btn-primary'


- if @results.present?
  %br
  %hr
  %br
  .alert.alert-success
    Импорт для
    = @importable[:resource_class].model_name.human
    завершен

  %p
    %b Импортировано
    = @results[:success]
  %p
    %b Провалено
    = @results[:failed]

  - if @results[:failed]
    %h3 Не прошедшие записи

    %table.table.table-condensed.table-hover
      - @results[:failed_items].each do |item|
        %tr
          %td
            - item[:data].each do |k, v|
              %p
                %b= "#{k}: "
                = v
          %td
            - item[:reasons].each do |field, reasons|
              %div.alert.alert-danger
                %p
                  %b= "#{field}: "
                - reasons.each do |reason|
                  %p= reason
