!!!
%html
  %head
    %title ProxyTranslator
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %body
      .navbar.navbar-default.navbar-static-top
        .container
          %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -#%a.navbar-brand(href="#") Proxy Translate
          = link_to 'Proxy Translate', admin_landing_path, class: 'navbar-brand'
          .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
              - if current_user
                %li
                  %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#', :role => 'button'}
                    = current_user.email
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to 'Log Out', destroy_user_session_path, method: :delete
              -#%li= link_to "Link 2", "/path2"
              -#%li= link_to "Link 3", "/path3"
              -#%li= link_to "Link 3", "/path3"

      .container
        .row
          .col-lg-9
            = bootstrap_flash
            = yield
          -#.col-lg-3
            .well.sidebar-nav
              %h3 >>
              %ul.nav.nav-list
                %li.nav-header Welcome
                -#%li= link_to "Link 1", "/path1"
                -#%li= link_to "Link 2", "/path2"
                -#%li= link_to "Link 3", "/path3"

      %footer.footer
        .container
          %p.text-muted
            &copy; Proxy Translate
            = Date.today.year